<tr class="competitor-row">
    <td>{{comp_place}}</td>
    <td>{{comp_name}}</td>
    <td>{{comp_club}}</td>
    <td>{{comp_index}}</td>
    <td>{{comp_points}}</td>
    <td class="comp_run_time">{{comp_run_time}}</td>
    <td>{{comp_splits}}</td>
</tr>