<tr class="competitor-row">
    <td class="comp_place">{{comp_place}}</td>
    <td class="comp_name">{{comp_name}}</td>
    <td class="comp_points">{{comp_points}}</td>
    <td class="comp_time">{{comp_run_time}}</td>
    {{comp_splits_codes}}
</tr>
<tr>
    <td class="comp_index">{{comp_index}}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    {{comp_splits_times}}
</tr>