<div class="cat_info"> {{title_category}}: <b>{{cat_name}}</b>&nbsp;&nbsp;{{title_limit}}: <b>{{cat_limit}}</b>
    &nbsp;&nbsp;{{title_band}}: <b>{{cat_band}}</b> &nbsp;&nbsp;{{title_length}}: <b>{{cat_length}}
        km</b> &nbsp;&nbsp;{{title_controls}}: <b>{{cat_controls}}</b>
</div>
<table>
    <tr class="cat_header_row">
        <th>Place</th>
        <th>Name</th>
        <th>Club</th>
        <th>Index</th>
        <th>Points</th>
        <th>Run time</th>
        <th>Splits</th>
    </tr>