<tr>
    <td colspan="2">{{cat_name}}</td>
    <td>{{title_length}}: {{cat_length}}</td>
    <td>{{title_controls}}: {{cat_controls}}</td>
</tr>
<tr>
    <td class="cat_place">{{title_place}}</td>
    <td class="cat_name">{{title_name}}</td>
    <td class="cat_points">{{title_points}}</td>
    <td class="cat_time">{{title_run_time}}</td>
</tr>