----------------------------------------------------------------------------------------------------
{{title_results}}
----------------------------------------------------------------------------------------------------
{{title_race_name}}: {{race_name}}
{{title_race_date}}: {{race_date}}
{{title_race_start_time}}: {{race_start_time}}
{{title_race_level}}: {{race_level}}
----------------------------------------------------------------------------------------------------
{{race_results}}
----------------------------------------------------------------------------------------------------
{{title_generated_with}} ARDF Manager {{ardf_manager_version}}