{{title_category}} {{cat_name}}{{TAB}}{{title_limit}}: {{cat_limit}}{{TAB}}{{title_length}}: {{cat_length}} km{{TAB}}{{title_controls}}: {{cat_controls}}
--------------------------------------------------------------------------------------------------------------------------------------------------