--------------------------------------------------------------------------------------------------------------------------------------------------
{{title_results}}
--------------------------------------------------------------------------------------------------------------------------------------------------
{{title_race_name}}: {{race_name}}
{{title_race_date}}: {{race_date}}
{{title_race_start_time}}: {{race_start_time}}
{{title_race_level}}: {{race_level}}

{{title_place}}{{TAB}}{{title_name}}{{TAB}}{{title_index}}{{TAB}}{{title_run_time}}{{TAB}}{{title_points}}{{TAB}}{{title_controls}}
--------------------------------------------------------------------------------------------------------------------------------------------------
{{race_results}}
--------------------------------------------------------------------------------------------------------------------------------------------------
{{title_results_splits}}
--------------------------------------------------------------------------------------------------------------------------------------------------
{{race_results_splits}}
===========================================================================
{{generated_with}} ARDF Manager {{software_version}}